<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Sidharth">
    <classes>
      <class name="testing.Basics_TestNG">
         <methods>
         <exclude name="add_Test"/>
         <exclude name="division"/>
         </methods>
      </class>
     <class name="testing.XML_TestNG1">
     <methods>
        <include name="behave_Test"/>
     </methods>
      </class>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Sidharth2">
  <classes>
  <class name="testing.XML_TestNG2"/>
  <class name="testing.XML_TestNG3"/>
  </classes>
  </test>
</suite> <!-- Suite -->
